/*		PORTFOLIO SECTION		*/

#portfolio-container{
	/*margin-bottom: 35px;*/
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	padding: 0 50px;
	margin-bottom: 35px;
	justify-content: space-around;
}

.portfolio-image-container{
	max-width: 370px;
	overflow: hidden;
	margin: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.portfolio-image-container img{
	width: 250px;
	height: 250px;
}

.portfolio-details{
	transition: all 0.5s ease-in-out;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
       
	color: transparent;
	text-align: center;
	padding: 10px;
        
}

.portfolio-image-container:hover{
	box-shadow: 0 0 20px #74ADC8;
}

.portfolio-image-container:hover .portfolio-details{
	background-color: #80808078;
	color: white;
}

#contact-form .sub-btn{
    border: 1px solid-black;
    color: black; 
}